/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

/* Start Common */
.text--white {
    color: #fff !important;
}

.row {
    /* margin-left: -8px;
    margin-right: -8px; */
    display: flex;
    flex-wrap: wrap;
}

.col {
    padding-left: 8px;
    padding-right: 8px;
}

/* End Common */

/* 
1. Vị trí
2. Kích thước (width, height)
3. Màu sắc
4. Kiểu dáng (kiểu chữ, hình tròn, vuông,...)
*/

/* Start Header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: #000;
    color: white;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.navbar__list {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar__list-item {
    display: inline-block;
}

.navbar__list-link {
    color: white;
    text-decoration: none;
    line-height: 46px;
    padding: 0px 24px;
    text-transform: uppercase;
    display: block;
}

.navbar__sub-nav-link {
    color: #000;
    text-decoration: none;
    line-height: 38px;
    padding: 0px 16px;
}

.navbar__list-item:hover .navbar__list-link,
.navbar__sub-nav-item:hover .navbar__sub-nav-link {
    color: #000;
    background-color: #ccc;
    display: block;
}

.navbar__list-item-subnav {
    position: relative;
}

.navbar__list-item-subnav:hover .navbar__sub-nav {
    display: block;
}

.navbar__sub-nav {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1;
    list-style: none;
}

.navbar__sub-nav-item {
    min-width: 160px;
}

.mobile-menu-btn,
.seach {
    padding: 12px 24px;
    color: white;
    text-decoration: none;
    display: block;
}

.seach:hover {
    background-color: #f44336;
}

.mobile-menu-btn {
    display: none;
}

.mobile-menu-btn:hover {
    background-color: #ccc;
}

.mobile-menu-btn:hover .menu-icon {
    color: #000;
}

/* End Header */

/* Start Slider */
.slider {
    margin-top: 46px;
    /* 50% chiều ngang của chính nó */
    padding-top: 50%;
    /* background-image -> background-position -> background-size -> background-repeat */
    background: url('../img/chicago.jpg') top center / cover no-repeat ;
    position: relative;
}

.slider-text-content {
    text-align: center;
    color: #fff;
    position: absolute;
    bottom: 47px;
    /* case 1 */
    width: 100%;
    /* case 2 */
    /* left: 0;
    right: 0; */
    /* case 3 */
    /* left: 50%;
    transform: translateX(-50%); */
}

.slider-text__heading {
    font-weight: 500;
    font-size: 24px;
}

.slider-text__body {
    font-size: 15px;
    margin-top: 20px;
}

/* End Slider */

/* Start Content */
.content {

}

.content-section {
    width: 800px;
    max-width: 100%;
    /* div center */
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0px 112px;
    padding-left: 16px;
    padding-right: 16px;
}

.section-heading,
.section-sub-heading {
    text-align: center;
}

.section-heading {
    font-size: 30px;
    font-weight: 400;
    /* Khoảng cách từng chữ */
    letter-spacing: 4px;
}

.section-sub-heading {
    font-size: 15px;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}

.about-text {
    font-size: 15px;
    margin-top: 25px;
    text-align: justify;
    line-height: 1.4;
}

.about-member-list {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-member-item {
    width: 33.333%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-member-name {
    text-align: center;
    font-size: 15px;
    width: 60%;
}

.about-member-avatar {
    margin-top: 15px;
    width: 60%;
    border-radius: 4px;
}

/* Tour Section */
.tour-section {
    background-color: #000;
}

.ticket-list {
    background-color: #fff;
    margin-top: 40px;
    list-style: none;
}

.ticket-item {
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
}

.sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}

.quantity {
    background-color: #000;
    color: #fff;
    float: right;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    /* Căn giữa */
    text-align: center;
    line-height: 24px;
}

.place-list {
    margin-top: 32px;
    /* display: flex; */
    justify-content: space-between;
}

.place-item {
    width: 32%;
}

.place-img {
    width: 100%;
    /* cho ảnh thành block */
    display: block;
}

.place-img:hover {
    opacity: 0.6;
}

.place-body {
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}

.place-heading {
    font-size: 15px;
    font-weight: 590;
}

.place-time {
    color: #757575;
    margin: 15px 0px;
}

.place-desc {
    line-height: 1.4;
}

.btn {
    margin-top: 15px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 10px 18px;
    display: inline-block;
}

.btn:hover {
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}

/* Start Contact */

.contact-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
}

.contact-left {
    font-size: 18px;
    line-height: 1.6rem;
    width: 50%;
}

.contact-left-info em[class*="fa-"] {
    margin-right: 10px;
    display: inline-block;
}

.contact-right {
    font-size: 15px;
    width: 50%;
}

.contact-right-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-name {
    width: 48%;
}

.form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.contact-mail {
    width: 48%;
}

.contact-message {
    width: 100%;
}

.contact-right-wrapper__message {
    margin: 10px 0px;
}

.contact-btn-send {
    margin-top: 10px;
    float: right;
    border: none;
}

/* End Contact */

/* Map Section */
.map-section img {
    width: 100%;
}

/* Start Footer */

.footer {
    padding: 64px 16px;
    text-align: center;
}

.socials {
    font-size: 24px;
}

.socials-link {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}

.socials-link:hover,
.copy-right a:hover {
    color: rgba(0, 0, 0, 0.4);
}

.copy-right {
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
}

.copy-right a {
    color: rgba(0, 0, 0, 0.6);
}

/* End Footer */

/* modal */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
}

.modal-open {
    display: flex;
}

.modal-container {
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    opacity: 0.9;
}

.modal-close em {
    font-size: 20px;
}

.modal-header {
    background-color: #009688;
    color: #fff;
    height: 129px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.modal-header em {
    margin-right: 16px;
}

.modal-body {
    padding: 16px;
    font-size: 15px;
}

.modal-label {
    display: block;
    margin-bottom: 12px;
}

.modal-input {
    margin-bottom: 24px;
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.buy-ticket {
    width: 100%;
    background-color: #009688;
    color: #fff;
    border: none;
    padding: 18px;
    text-transform: uppercase;
}

.buy-ticket:hover {
    opacity: 0.9;
    cursor: pointer;
}

.modal-footer {
    padding: 16px;
    text-align: right;
}

.modal-footer a {
    color: #2196F3;
}

.modal-help {

}

/* MOBILE */
@media (max-width: 739px) {
    .header {
        overflow: hidden;
    }

    .navbar__list {
        flex-wrap: wrap;
        display: block;
        width: 100%;
    }

    .navbar__list-item {
        display: block;
        width: 100%;
    }

    .navbar__list-item:first-child .navbar__list-link {
        display: inline-block;
    }

    .seach {
        display: none;
    }

    .mobile-menu-btn {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
    }

    .navbar__sub-nav {
        position: initial;
        background-color: #333;
    }

    .navbar__sub-nav-item {
        padding: 5px 24px;
    }

    .navbar__sub-nav-link {
        color: #fff;
    }
    
    .about-member-item {
        margin-top: 20px;
    }

    .place-item {
        margin-bottom: 16px;
    }

    .contact-right {
        margin-top: 10px;
    }

    .contact-name {
        margin: 10px 0px;
    }

    .s-col-full {
        width: 100%;
    }
}

